/* CSS Code */

/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    background-color: aquamarine;
    font-family: 'KoHo', sans-serif;

}